force-app/main/default/flows/Ack_InKind.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Ack_InKind - gift acknowledgment letter (PLACEHOLDER content). Rendered by the AcknowledgmentLetter VF page via Lightning Out. JSI-87 / Jason Ott.</description>
    <environments>Default</environments>
    <interviewLabel>Ack_InKind {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ack_InKind</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Letter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Letter</name>
        <label>Acknowledgment Letter</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stamp_Acknowledged</targetReference>
        </connector>
        <fields>
            <name>LetterBody</name>
            <fieldText>&lt;p&gt;{!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;{!Get_Contact.Name}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingStreet}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingCity}, {!Get_Contact.MailingState} {!Get_Contact.MailingPostalCode}&lt;/p&gt;&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your generous in-kind contribution to the Jewish Community Relations Council of New York, received on {!Get_Opportunity.CloseDate}.&lt;/p&gt;&lt;p&gt;In keeping with IRS guidance, this letter describes your contribution; determining its value for tax purposes is the responsibility of the donor.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are deeply grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;/p&gt;&lt;p&gt;The Development Team&lt;br&gt;&lt;/br&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. JCRC-NY is a tax-exempt organization; please retain this letter for your records.&lt;/p&gt;&lt;p style="font-size:10px;color:#b00;"&gt;[PLACEHOLDER TEMPLATE — replace with client-approved letterhead and content.]&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Mark Acknowledged &amp; Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <recordUpdates>
        <name>Stamp_Acknowledged</name>
        <label>Stamp Acknowledged</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledgment_Sent_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
