force-app/main/default/flows/Acknowledgment_Letter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Pick_Template</name>
        <label>Pick Template</label>
        <locationX>176</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Screen_General</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>General</defaultConnectorLabel>
        <rules>
            <name>Is_Major</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Acknowledgment_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack_MajorGift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Major</targetReference>
            </connector>
            <label>Major</label>
        </rules>
        <rules>
            <name>Is_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Acknowledgment_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack_Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Recurring</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
        <rules>
            <name>Is_InKind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Acknowledgment_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack_InKind</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_InKind</targetReference>
            </connector>
            <label>InKind</label>
        </rules>
        <rules>
            <name>Is_Tribute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Acknowledgment_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack_Tribute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Tribute</targetReference>
            </connector>
            <label>Tribute</label>
        </rules>
    </decisions>
    <description>Single gift-acknowledgment letter flow. Renders the correct placeholder letter template (Major / Recurring / In-Kind / Tribute / General) chosen from Acknowledgment_Template__c (set by the router), then stamps Acknowledged + date + sent-by on finish. Rendered by the AcknowledgmentLetter VF page via Lightning Out. JSI-87 / Jason Ott.</description>
    <environments>Default</environments>
    <interviewLabel>Acknowledgment Letter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acknowledgment Letter</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_Acknowledged</name>
        <label>Stamp Acknowledged</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledgment_Sent_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Screen_Major</name>
        <label>Screen_Major</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stamp_Acknowledged</targetReference>
        </connector>
        <fields>
            <name>Screen_Major_Body</name>
            <fieldText>&lt;p&gt;{!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;{!Get_Contact.Name}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingStreet}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingCity}, {!Get_Contact.MailingState} {!Get_Contact.MailingPostalCode}&lt;/p&gt;&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;On behalf of the Jewish Community Relations Council of New York, I want to personally thank you for your extraordinary leadership gift of ${!Get_Opportunity.Amount} received on {!Get_Opportunity.CloseDate}.&lt;/p&gt;&lt;p&gt;Transformational gifts like yours allow us to pursue our most ambitious work on behalf of the community.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are deeply grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;/p&gt;&lt;p&gt;The Development Team&lt;br&gt;&lt;/br&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. JCRC-NY is a tax-exempt organization; please retain this letter for your records.&lt;/p&gt;&lt;p style="font-size:10px;color:#b00;"&gt;[PLACEHOLDER TEMPLATE — replace with client-approved letterhead and content.]&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Mark Acknowledged &amp; Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Recurring</name>
        <label>Screen_Recurring</label>
        <locationX>176</locationX>
        <locationY>470</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stamp_Acknowledged</targetReference>
        </connector>
        <fields>
            <name>Screen_Recurring_Body</name>
            <fieldText>&lt;p&gt;{!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;{!Get_Contact.Name}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingStreet}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingCity}, {!Get_Contact.MailingState} {!Get_Contact.MailingPostalCode}&lt;/p&gt;&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your continued monthly support of the Jewish Community Relations Council of New York. We gratefully acknowledge your recent recurring gift of ${!Get_Opportunity.Amount} received on {!Get_Opportunity.CloseDate}.&lt;/p&gt;&lt;p&gt;Your sustained commitment provides the reliable support we count on throughout the year.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are deeply grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;/p&gt;&lt;p&gt;The Development Team&lt;br&gt;&lt;/br&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. JCRC-NY is a tax-exempt organization; please retain this letter for your records.&lt;/p&gt;&lt;p style="font-size:10px;color:#b00;"&gt;[PLACEHOLDER TEMPLATE — replace with client-approved letterhead and content.]&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Mark Acknowledged &amp; Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_InKind</name>
        <label>Screen_InKind</label>
        <locationX>176</locationX>
        <locationY>590</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stamp_Acknowledged</targetReference>
        </connector>
        <fields>
            <name>Screen_InKind_Body</name>
            <fieldText>&lt;p&gt;{!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;{!Get_Contact.Name}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingStreet}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingCity}, {!Get_Contact.MailingState} {!Get_Contact.MailingPostalCode}&lt;/p&gt;&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your generous in-kind contribution to the Jewish Community Relations Council of New York, received on {!Get_Opportunity.CloseDate}.&lt;/p&gt;&lt;p&gt;In keeping with IRS guidance, this letter describes your contribution; determining its value for tax purposes is the responsibility of the donor.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are deeply grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;/p&gt;&lt;p&gt;The Development Team&lt;br&gt;&lt;/br&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. JCRC-NY is a tax-exempt organization; please retain this letter for your records.&lt;/p&gt;&lt;p style="font-size:10px;color:#b00;"&gt;[PLACEHOLDER TEMPLATE — replace with client-approved letterhead and content.]&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Mark Acknowledged &amp; Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Tribute</name>
        <label>Screen_Tribute</label>
        <locationX>176</locationX>
        <locationY>710</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stamp_Acknowledged</targetReference>
        </connector>
        <fields>
            <name>Screen_Tribute_Body</name>
            <fieldText>&lt;p&gt;{!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;{!Get_Contact.Name}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingStreet}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingCity}, {!Get_Contact.MailingState} {!Get_Contact.MailingPostalCode}&lt;/p&gt;&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your thoughtful gift of ${!Get_Opportunity.Amount} to the Jewish Community Relations Council of New York, received on {!Get_Opportunity.CloseDate}.&lt;/p&gt;&lt;p&gt;We are honored to acknowledge your tribute gift and, where you have requested, to notify those you have designated.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are deeply grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;/p&gt;&lt;p&gt;The Development Team&lt;br&gt;&lt;/br&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. JCRC-NY is a tax-exempt organization; please retain this letter for your records.&lt;/p&gt;&lt;p style="font-size:10px;color:#b00;"&gt;[PLACEHOLDER TEMPLATE — replace with client-approved letterhead and content.]&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Mark Acknowledged &amp; Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_General</name>
        <label>Screen_General</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stamp_Acknowledged</targetReference>
        </connector>
        <fields>
            <name>Screen_General_Body</name>
            <fieldText>&lt;p&gt;{!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;{!Get_Contact.Name}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingStreet}&lt;br&gt;&lt;/br&gt;{!Get_Contact.MailingCity}, {!Get_Contact.MailingState} {!Get_Contact.MailingPostalCode}&lt;/p&gt;&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;On behalf of the Jewish Community Relations Council of New York, thank you for your generous gift of ${!Get_Opportunity.Amount} received on {!Get_Opportunity.CloseDate}.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are deeply grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;/p&gt;&lt;p&gt;The Development Team&lt;br&gt;&lt;/br&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. JCRC-NY is a tax-exempt organization; please retain this letter for your records.&lt;/p&gt;&lt;p style="font-size:10px;color:#b00;"&gt;[PLACEHOLDER TEMPLATE — replace with client-approved letterhead and content.]&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Mark Acknowledged &amp; Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
