force-app/main/default/flows/Opportunity_Acknowledgment_Router.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Match</name>
        <label>Set Match</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBestPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Rules.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Rules.Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Rules.Send_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formMatchedTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Rules</targetReference>
        </connector>
    </assignments>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record Fields</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Acknowledgment_Channel__c</field>
            <value>
                <elementReference>varChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>To Be Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledgment_Send_Mode__c</field>
            <value>
                <elementReference>varMode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledgment_Template__c</field>
            <value>
                <elementReference>varTemplate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <decisions>
        <name>Apply_If_Found</name>
        <label>Apply If Found</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Match</name>
        <label>Check Match</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formIsMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Rules.Priority__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varBestPriority</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Match</targetReference>
            </connector>
            <label>Is Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs Acknowledgment</defaultConnectorLabel>
        <rules>
            <name>Skip_Done</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Acknowledgment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acknowledged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Acknowledgment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Do Not Acknowledge</stringValue>
                </rightValue>
            </conditions>
            <label>Skip (Not Won or Already Done)</label>
        </rules>
    </decisions>
    <description>After-save router: classifies each won gift against Acknowledgment_Rule__mdt (lowest-priority match) and stamps Acknowledgment Channel / Send Mode / Template. Skips gifts already Acknowledged or Do Not Acknowledge. Email sending is handled by a separate flow (pending OWEA). JSI-87 / Jason Ott.</description>
    <environments>Default</environments>
    <formulas>
        <name>formIsMatch</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  OR(ISBLANK({!Loop_Rules.Record_Type__c}), {!Get_RecordType.DeveloperName} = {!Loop_Rules.Record_Type__c}),
  OR(ISBLANK({!Loop_Rules.Min_Amount__c}), {!$Record.Amount} &gt;= {!Loop_Rules.Min_Amount__c}),
  OR(ISBLANK({!Loop_Rules.Max_Amount__c}), {!$Record.Amount} &lt;= {!Loop_Rules.Max_Amount__c})
)</expression>
    </formulas>
    <formulas>
        <name>formMatchedTemplate</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Loop_Rules.Template_Flow__c}, {!Loop_Rules.Email_Template__c})</expression>
    </formulas>
    <interviewLabel>Opportunity Acknowledgment Router {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Acknowledgment Router</label>
    <loops>
        <name>Loop_Rules</name>
        <label>Loop Rules</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>Get_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Apply_If_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rules</name>
        <label>Get Active Rules</label>
        <locationX>176</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Acknowledgment_Rule__mdt</object>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filters>
            <field>Acknowledgment_Channel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varBestPriority</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>999999.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
