force-app/main/default/flows/Opportunity_Send_Acknowledgment_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>1350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Stamp_Acknowledged</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>richTextBody</name>
            <value>
                <elementReference>varBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>development@jcrcny.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Major</name>
        <label>Set_Major</label>
        <locationX>176</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank You for Your Leadership Gift</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TT_Major</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring</name>
        <label>Set_Recurring</label>
        <locationX>176</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank You for Your Continued Support</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TT_Recurring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_InKind</name>
        <label>Set_InKind</label>
        <locationX>176</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank You for Your In-Kind Contribution</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TT_InKind</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tribute</name>
        <label>Set_Tribute</label>
        <locationX>176</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank You for Your Tribute Gift</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TT_Tribute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_General</name>
        <label>Set_General</label>
        <locationX>176</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank You for Your Generous Gift</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TT_General</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Pick_Template</name>
        <label>Pick Template</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_General</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>General</defaultConnectorLabel>
        <rules>
            <name>Is_Major</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acknowledgment_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack_MajorGift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Major</targetReference>
            </connector>
            <label>Is_Major</label>
        </rules>
        <rules>
            <name>Is_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acknowledgment_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack_Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurring</targetReference>
            </connector>
            <label>Is_Recurring</label>
        </rules>
        <rules>
            <name>Is_InKind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acknowledgment_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack_InKind</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_InKind</targetReference>
            </connector>
            <label>Is_InKind</label>
        </rules>
        <rules>
            <name>Is_Tribute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acknowledgment_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack_Tribute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tribute</targetReference>
            </connector>
            <label>Is_Tribute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Send</name>
        <label>Check Send</label>
        <locationX>176</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Do Not Send</defaultConnectorLabel>
        <rules>
            <name>Should_Send</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Acknowledgment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Be Acknowledged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Acknowledgment_Send_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Acknowledgment_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pick_Template</targetReference>
            </connector>
            <label>Should Send</label>
        </rules>
    </decisions>
    <description>After-save: sends the acknowledgment EMAIL for Email-channel gifts from the JCRC Development org-wide address, then stamps Acknowledged. Sends when Send Mode = Auto, or when an Approval-Gated gift has been Approved. JSI-87 / Jason Ott.</description>
    <environments>Default</environments>
    <interviewLabel>Send Acknowledgment Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Send Acknowledgment Email</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Send</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_Acknowledged</name>
        <label>Stamp Acknowledged</label>
        <locationX>176</locationX>
        <locationY>1450</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledgment_Sent_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filters>
            <field>Acknowledgment_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TT_Major</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your extraordinary leadership gift of ${!$Record.Amount}, received on {!$Record.CloseDate}.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;br /&gt;The Development Team&lt;br /&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. Please retain this email for your records. [PLACEHOLDER — replace with approved content.]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Recurring</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your continued monthly support. We gratefully acknowledge your recurring gift of ${!$Record.Amount}, received on {!$Record.CloseDate}.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;br /&gt;The Development Team&lt;br /&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. Please retain this email for your records. [PLACEHOLDER — replace with approved content.]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_InKind</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your generous in-kind contribution, received on {!$Record.CloseDate}.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;br /&gt;The Development Team&lt;br /&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. Please retain this email for your records. [PLACEHOLDER — replace with approved content.]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_Tribute</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your thoughtful tribute gift of ${!$Record.Amount}, received on {!$Record.CloseDate}.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;br /&gt;The Development Team&lt;br /&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. Please retain this email for your records. [PLACEHOLDER — replace with approved content.]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_General</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Contact.FirstName},&lt;/p&gt;&lt;p&gt;Thank you for your generous gift of ${!$Record.Amount}, received on {!$Record.CloseDate}.&lt;/p&gt;&lt;p&gt;Your generosity makes our work possible, and we are grateful for your partnership.&lt;/p&gt;&lt;p&gt;With gratitude,&lt;br /&gt;The Development Team&lt;br /&gt;Jewish Community Relations Council of New York&lt;/p&gt;&lt;p style="font-size:11px;color:#666;"&gt;No goods or services were provided in exchange for this contribution. Please retain this email for your records. [PLACEHOLDER — replace with approved content.]&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
