force-app/main/default/flows/Opportunity_MatchedDonor_SoftCredit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>OCR_Missing</name>
        <label>Matched Donor OCR Missing?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>OCR Already Exists</defaultConnectorLabel>
        <rules>
            <name>Create_It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_OCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Matched_Donor_OCR</targetReference>
            </connector>
            <label>Create It</label>
        </rules>
    </decisions>
    <description>JSI-85: when a Donation is linked to a corporate Matching Gift opportunity (npsp__Matching_Gift__c populated), soft-credit the individual donor by adding a &quot;Matched Donor&quot; Opportunity Contact Role for the Donation&apos;s Primary Contact onto the matching-gift opportunity. Duplicate-guarded. Author: Jason Ott.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Matched Donor Soft Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Matched Donor Soft Credit</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Matched_Donor_OCR</name>
        <label>Create Matched Donor OCR</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.npsp__Matching_Gift__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Matched Donor</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_OCR</name>
        <label>Get Existing OCR on Matching Gift</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OCR_Missing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Matching_Gift__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_OCR</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Matching_Gift__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
